<h1>Pages#info</h1>
<p>Find me in app/views/pages/info.html.erb</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat quaerat tenetur, voluptate ea voluptatem debitis dolorem expedita soluta nisi earum! Voluptates dignissimos quaerat asperiores dolores iste, fugit modi, minima vel?</p>
